{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usergame</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ userGame.id }}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>{{ userGame.state }}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{ userGame.rating }}</td>
        </tr>
        <tr>
            <th>Box</th>
            <td>{% if userGame.box %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Manual</th>
            <td>{% if userGame.manual %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ userGame.version }}</td>
        </tr>
        <tr>
            <th>Priceasked</th>
            <td>{{ userGame.priceAsked }}</td>
        </tr>
        <tr>
            <th>Pricepaid</th>
            <td>{{ userGame.pricePaid }}</td>
        </tr>
        <tr>
            <th>Priceresale</th>
            <td>{{ userGame.priceResale }}</td>
        </tr>
        <tr>
            <th>Pricesold</th>
            <td>{{ userGame.priceSold }}</td>
        </tr>
        <tr>
            <th>Purchasedate</th>
            <td>{% if userGame.purchaseDate %}{{ userGame.purchaseDate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Saledate</th>
            <td>{% if userGame.saleDate %}{{ userGame.saleDate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Progress</th>
            <td>{{ userGame.progress }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ userGame.note }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usergame_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usergame_edit', { 'id': userGame.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
